ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.controlsContainer {
  width: 30vw;
}

.bgColorContainer {
  overflow: hidden;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 5px 2px rgb(170, 206, 252);
  transition: 0.5s;
}

input[type='color'] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  width: 60px;
  height: 60px;
  padding: 0;
}
input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type='color']::-webkit-color-swatch {
  border: none;
}

@media (max-width: 869px) {
  .bgColorContainer {
    margin-left: 10px;
  }

  .controlsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90vw;
  }

  .controlsContainer > li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .controlsContainer > li:last-of-type > h5 {
    width: 50px;
  }
}
