.header {
  display: flex;
  gap: 20px;
  min-height: 5vh;
  padding: 10px;
  padding-left: 25vw;
}

.button {
  width: 100px;
  height: 40px;
  text-align: center;
}

.labelBtn {
  display: block;
  cursor: pointer;
  line-height: 1.8em;
  color: white;
  background: #20b8be;
  border-radius: 5px;
  font-weight: 600;
  white-space: nowrap;
  line-height: 2rem;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.button input[type='radio'] {
  opacity: 0;
  visibility: hidden;
}

.button input[type='radio']:checked + .labelBtn {
  background: #2254fa;
}

.labelBtn:hover {
  background-color: #17a2b8;
  border-color: #17a2b8;
}