.colorsContainer,
.texturesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  transform: scaleY(1);
  transform-origin: top;
  transition: all 1s;
}

.colorsContainer {
  max-height: 150px;
}

.texturesContainer {
  max-height: 80px;
}

.openBtn {
  border: none;
  display: block;
  margin: 0;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
  transition: 1s;
  font-size: 1.2rem;
}

.openBtnActive {
  transform: rotate(90deg) translate(5px);
  transition: 1s;
}

.controlItem {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px 2px rgb(170, 206, 252);
  transition: 0.5s;
}

.controlItem:hover {
  box-shadow: 0 0 7px 4px rgb(95, 163, 252);
}

.texturesContainer .controlItem {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80px;
  border-radius: 25%;
}

h5 {
  display: inline-block;
}

.openBtn {
  display: inline-block;
  margin-left: 10px;
}

.closedContainer {
  transform: scaleY(0);
  max-height: 0;
  transition: all 1s;
  overflow: hidden;
}

@media (max-width: 869px) {
  .colorsContainer,
  .texturesContainer {
    transform: scaleX(1) scaleY(1);
    transform-origin: left;
  }

  .closedContainer {
    transform: scaleX(0) scaleY(0);
  }
}
